body{
    background-color: #d33182;
}

.box {
    text-align: center;
    color: azure;
    font-size:larger;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.box {
    width: 500px;
    padding: 20px;
    background-color: rgb(255, 0, 0);
    border: black;
    border-radius: 50px;
}