*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    background:linear-gradient(#ffd8ea,#ffeef7);

    height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    font-family:Georgia, serif;

}

.container{

    background:white;

    padding:60px;

    border-radius:30px;

    text-align:center;

    width:600px;

    box-shadow:0 15px 40px rgba(0,0,0,.12);

}

h1{

    color:#ff5ea8;

    margin-bottom:25px;

}

.welcome{

    font-size:22px;

    margin-bottom:20px;

}

p{

    color:#555;

    line-height:1.8;

}

button{

    margin-top:35px;

    background:#ff77b7;

    color:white;

    border:none;

    padding:16px 36px;

    font-size:18px;

    border-radius:50px;

    cursor:pointer;

    transition:.3s;

}

button:hover{

    transform:translateY(-3px);

    background:#ff5ea8;

}

.tiny{

    margin-top:30px;

    font-size:.85rem;

    color:#999;

    font-style:italic;

}